header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 128px;
}

.nav {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 24px
}

.main {
    margin: 0 128px;
}

.section-a {
    margin: 72px 0;
    display: flex;
    gap: 24px;
}

#placeholder-a {
    background-color: grey;
    width: 800px;
    height: 250px;
}