body {
    margin: 0;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 128px;
    
}

.nav {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 24px
}

.main {
    background-color: #1F2937;
}

.section-a {
    margin: 72px 128px;
    display: flex;
    gap: 24px;
}

#placeholder-a {
    background-color: grey;
    width: 800px;
    height: 250px;
}

.section-b {
    background-color: #fff;
    padding: 0 128px;
}

.section-b h2 {
    text-align: center;
}

.blocks {
    display: flex;
    text-align: center;
}

.blocks-container {
    display: flex;
    flex-direction: column;
}

#placeholder-b {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 2px #3882F6 solid;
}