.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  

body {
    margin: 0;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 128px;
    
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 24px
}

.nav a, .section-a p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

button {
    background-color: #3882F6;
    border: 1px #3882F6 solid;
    border-radius: 8px;
    padding: 8px 36px;
}

.main {
    background-color: #1F2937;
}

.section-a {
    margin: 72px 128px;
    display: flex;
    gap: 24px;
}

.section-a h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #F9FAF8;
}

#placeholder-a {
    background-color: grey;
    width: 800px;
    height: 250px;
}

.section-b {
    background-color: #fff;
    padding: 24px 128px 48px 128px;
}

.section-b h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1F2937;
}

.blocks {
    display: flex;
    text-align: center;
}

.blocks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#placeholder-b {
    height: 128px;
    width: 128px;
    background-color: white;
    border: 4px #3882F6 solid;
    border-radius: 16px;
}

.section-c {
    background-color: #E5E7EB;
}

.quote {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
}